<div class="card">
    <div class="row justify-content-center">
        <h1 id="showheading">Developer/Designer Job Review</h1>
    </div>
    <!-- Card image -->

    <%= image_tag @jobpost.uploadedfile, height: 300, class: "card-img-top"  %>
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Project preview</a></h4>
      <!-- Text -->
      <p class="card-text"> 
         <strong>Description:</strong>
        <%= @jobpost.description %></p>
      <!-- Button -->

            <%= link_to 'Edit', edit_jobpost_path(@jobpost), class: "btn btn-danger" %> |
            <%= link_to 'Back', jobposts_path, class: "btn btn-success"%>
          </div>
   
   
    </div>
  
  </div>
  <!-- Card -->