<%= render partial: "jobposts/navbar" %>
<h1>Hello and welcome to Desdev marketplace</h1>

<ul>
    <li>
        Devise is currently being used to maintain data security
    </li>
    <li>
        Cloudinary has been integrated for user file upload
    </li>
    <li>
        Job for designers or developers can be lodged
    </li>
</ul>
<!-- Card -->
<div class="card">
    <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title"><a><h2>Current Features</h2></a></h4>
          <!-- Text -->
          <p class="card-text"> Devise is currently being used to maintain data security </p>
          <!-- Button -->
          <p class="card-text">Cloudinary has been integrated for user file upload </p>

          <p class="card-text">Job for designers or developers can be lodged</p>

          <a href="#" class="btn btn-primary">Button</a>
      
        </div>
      
      </div>
      <!-- Card -->