<%= render partial: "jobposts/navbar" %>
<h1>Hello and welcome to Desdev marketplace</h1>


<h2>Current Features</h2>
<ul>
    <li>
        Devise is currently being used to maintain data security
    </li>
    <li>
        Cloudinary has been integrated for user file upload
    </li>
    <li>
        Job for designers or developers can be lodged
    </li>
</ul>
